<ion-view name="intro-view">
	<ion-content class="padding">

		<div style="margin-top: 64px; text-align: center;" ng-click="go()">
			<img src="img/openheart_1.png" style="max-width: 40%; max-height: 400px;"> </img>
			<h3 style="padding-top: 30px; margin-top: 0px;">Open-Heart</h3>
			<h4 style="padding-top: 0px; margin-top: 0px;">Your cardiac rehabilitation coach</h4>

			<h4 style="padding-top: 30px; margin-top: 0px;">by</h4>

			<img src="img/logoSchiller.png" style="padding-top: 30px; max-width: 60%; max-height: 400px;"> </img>
		</div>

		<!--
		<div class="row" style="font-size: 30px; margin-top: 64px; text-align: center;">
			<div class="col ion-android-walk positive"> </div>
			<div class="col ion-ios-pulse-strong positive"> </div>
			<div class="col ion-ios-heart positive"> </div>
			<div class="col ion-arrow-graph-up-right positive"> </div>
		</div>
		-->


		<!--
		<div class="list list-inset">
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input type="text" placeholder="e.g. j_doe" ng-model="data.username"> </input>
			</label>

			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password" placeholder="e.g. MyPassWd456321" ng-model="data.password"> </input>
			</label>

			<ion-checkbox ng-model="data.remember" ng-checked="data.remember">Remember me</ion-checkbox>
		</div>
		
		<button class="button icon icon-left ion-log-in button-calm" ng-click="login()">Login to your account</button>
		<button class="button icon icon-left ion-person-add button-positive" ng-click="createAccount()">Create a new account!</button>
	-->

		<!--<button class="button button-block button-calm" ng-click="login()">Login to your account</button>-->
		<!--<button class="button button-block button-calm" ng-click="createAccount()">Create a new account!</button>-->


	</ion-content>
</ion-view>
