<ion-view view-title="Login" name="login-view">
	<ion-content class="padding">

		<div style="margin-top: 64px; text-align: center;">
			<h3 style="padding-top: 0px; margin-top: 0px;">Select an account</h3>
		</div>

		<ion-list>
			<ion-item ng-repeat="user in users" type="item-text-wrap">
				<center>
					<img src="img/{{user.photo}}" style="max-width: 40%; max-height: 50px;"> </img>
					<h2>{{user.name}}</h2>
					<!-- <p>{{user.photo}}</p> -->
				</center>
			</ion-item>
		</ion-list>

		<div class="list list-inset">
			<center>
				<button class="button icon icon-left ion-person-add button-positive" ng-click="createAccount()">Create a new account!</button>
			</center>
		</div>

		<!--
		<div class="list list-inset">
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input type="text" placeholder="e.g. j_doe" ng-model="data.username"> </input>
			</label>

			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password" placeholder="e.g. MyPassWd456321" ng-model="data.password"> </input>
			</label>

			<ion-checkbox ng-model="data.remember" ng-checked="data.remember">Remember me</ion-checkbox>
		</div>
		
		<button class="button icon icon-left ion-log-in button-calm" ng-click="login()">Login to your account</button>
		<button class="button icon icon-left ion-person-add button-positive" ng-click="createAccount()">Create a new account!</button>
	-->

		<!--<button class="button button-block button-calm" ng-click="login()">Login to your account</button>-->
		<!--<button class="button button-block button-calm" ng-click="createAccount()">Create a new account!</button>-->


	</ion-content>
</ion-view>
